:root {
    --cell_size: 20vmin;
    --cell_gap: 1vmin;
    --font_size: 90px;
    --font_size2: calc((var(--font_size) - 5px));
    --font_size3: calc((var(--font_size) - 15px));
    --font_size4: calc((var(--font_size) - 30px));
    --font_size5: calc((var(--font_size) - 40px));
    --font_size6: calc((var(--font_size) - 45px));
}

body {
    font-family: Andika, sans-serif;
    background-color: rgb(51, 51, 51);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.overlay--open {
    visibility: visible;
    opacity: 1;
}
.modalBox__close {
    background: url(image/close.svg);
    position: absolute;
    top: 15px;
    right: 15px;
    width: 31px;
    height: 31px;
}
.modalBox {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgb(51, 51, 51);
    z-index: 300;
    border-radius: 5px;
    width: 100vmin;
    height: 273px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    color: rgb(240, 228, 217);
    font-size: 20px;
}
.endBox {
    visibility: hidden;
    opacity: 0;
}
.endBox--open {
    visibility: visible;
    opacity: 100;
}
.winBox {
    visibility: hidden;
    opacity: 0;
}
.winBox--open {
    visibility: visible;
    opacity: 100;
}
.modalBox-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding-bottom: 15px;
}
.endBox-inner {
    width: 50%;
}
.modalBox__title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.modalBox__current-score {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.modalBox__current-score-title {
    font-weight: bold;
}
.modalBox__best-score {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.endBox__best-score-title {
    font-weight: bold;
}
.endBox__new-game {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.endBox__new-game-title {
    font-weight: bold;
}
.endBox__new-game-button,
.modalBox-button,
.goBack__button {
    width: 30%;
    font-weight: bold;
    background: rgb(240, 228, 217);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    align-items: center;
    appearance: none;
    border: 1px solid rgb(240, 228, 217);
    border-radius: 0.375em;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
}
.winBox__score {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    width: 80%;
}
.winBox__button-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.winBox__button {
    width: 100%;
}
.goBack {
    position: absolute;
    top: 8.5vmin;
    right: 5%;
    padding-right: 15px;
}
.goBack__button {
    height: 49px;
    width: 100px;
    cursor: pointer;

    font-family: Andika, sans-serif;
}
.score {
    color: #eee1c7;
    font-size: 40px;
    position: absolute;
    top: 8vmin;
    left: 5%;
    font-family: Andika, sans-serif;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    column-gap: 20px;
}
.best-score-numbers {
    color: #eee1c7;
}
.best-color {
    color: rgb(255, 112, 80);
}
.playing-field {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#table {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 1vmin;
    position: relative;
}
.cell {
    width: var(--cell_size);
    height: var(--cell_size);
    border-radius: 1vmin;
    background-color: rgb(68, 68, 68);
}
.cell_number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-weight: 700;
    font-size: var(--font_size);
    border-radius: 1vmin;
    width: var(--cell_size);
    height: var(--cell_size);
    position: absolute;
    color: #201713;
    top: calc(var(--x) * (var(--cell_size) + var(--cell_gap)));
    left: calc(var(--y) * (var(--cell_size) + var(--cell_gap)));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
    color: rgb(255, 246, 230);
}
.cell_number_2 {
    background-color: #f0e4d9;
    color: rgb(68, 68, 68);
}
.cell_number_4 {
    background-color: #eee1c7;
    color: rgb(68, 68, 68);
}
.cell_number_8 {
    background-color: rgb(253, 175, 112);
}
.cell_number_16 {
    background-color: rgb(255, 143, 86);
}
.cell_number_32 {
    background-color: rgb(255, 112, 80);
}
.cell_number_64 {
    background-color: rgb(255, 70, 18);
}
.cell_number_128 {
    background-color: rgb(241, 210, 104);
}
.cell_number_256 {
    background-color: rgb(241, 208, 86);
}
.cell_number_512 {
    background-color: rgb(240, 203, 65);
}
.cell_number_2,
.cell_number_4 {
    font-size: var(--font_size);
}
.cell_number_16,
.cell_number_32,
.cell_number_64 {
    font-size: var(--font_size2);
}
.cell_number_128,
.cell_number_256,
.cell_number_512 {
    font-size: var(--font_size3);
}
.cell_number_1024,
.cell_number_2048,
.cell_number_4096,
.cell_number_8192 {
    font-size: var(--font_size4);
}
.cell_number_16384,
.cell_number_32768,
.cell_number_65536 {
    font-size: var(--font_size5);
}
.cell_number_1024 {
    background-color: rgb(242, 201, 39);
}
.cell_number_2048 {
    background-color: rgb(243, 197, 0);
}
.cell_number_4096 {
    background-color: rgb(255, 80, 75);
}
.cell_number_8192 {
    background-color: rgb(255, 34, 75);
}
.cell_number_16384 {
    background-color: rgb(248, 19, 30);
}
.cell_number_32768 {
    background-color: rgb(96, 178, 219);
}
.cell_number_65536 {
    background-color: rgb(83, 154, 229);
}
.cell_number_131072 {
    background-color: rgb(0, 118, 193);
    font-size: var(--font_size6);
}
@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

@media (max-width: 1500px) {
    .score {
        font-size: 30px;
    }
}

@media (max-width: 1400px) {
    :root {
         --font_size: 85px;
        /*--font_size2: 85px;
        --font_size3: 75px;
        --font_size4: 60px;
        --font_size5: 45px;
        --font_size6: 40px; */
    }
    .goBack {
        top: auto;
        right: auto;
        bottom: 8.5vmin;
        left: 5%;
        padding-right: 15px;
    }
    /* body {
        padding-bottom: 50px;
    } */
    .playing-field {
        align-items: end;
    }
    .score {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }
    .goBack {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }
    .main-screen-info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 30px;
    }
}
@media (max-width: 800px) {
    :root {
        --font_size: 80px;
    }
}
@media (max-width: 700px) {
    :root {
        --font_size: 75px;
        --font_size2: calc((var(--font_size) - 15px));
        --font_size3: calc((var(--font_size) - 25px));
    }
}
@media (max-width: 600px) {
    :root {
        --font_size: 65px;
    }
}
@media (max-width: 450px) {
    :root {
        --font_size: 60px;
    }
}
@media (max-width: 400px) {
    :root {
        --font_size: 55px;
        --font_size5: calc((var(--font_size) - 35px));
        --font_size6: calc((var(--font_size) - 35px));
    }
}
@media (max-width: 360px) {
    :root {
        --font_size: 50px;
    }
}

